body {
  background-color: #7395ae;
}

#textFontFamily {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
}

h3 {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.5714px;
}

h3 {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-size: 21px;

  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.5714px;
}

.App {
  text-align: center;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Header {
  text-align: center;
  /* height: 50%; */
}
.Search {
  color: white;
  margin-left: 20px;
  font-size: 9.5px;
}
#fields {
  background-color: white;
  size: 2px;
  height: 2px;
}

.Tags {
  display: grid;
}

#tab {
  width: 140px;
}
.type {
  display: grid;
}
.counrty {
  display: grid;
}
.first_row {
  color: black;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 20px;
  font-size: 9.5px;
}
.second_row {
  color: black;
  margin-top: 35px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 20px;
  font-size: 9.5px;
}
.third_row {
  color: black;
  margin-top: 35px;
  display: grid;
  grid-template-columns: auto 0.5fr auto;
  margin-left: 20px;
  font-size: 9.5px;
}
.fourth_row {
  color: black;
  margin-top: 35px;
  display: grid;
  grid-template-columns: auto 0.5fr auto;
  margin-left: 20px;
  font-size: 9.5px;
}

.alert_email {
  display: grid;
  grid-template-columns: 0.25fr 0.21fr 0.2fr 0.2fr;
}
.res_score {
  display: grid;
  grid-template-columns: 0.1fr 0.2fr;
}
.countries_scores {
  color: black;
  display: grid;
  grid-template-columns: 17% 17% 17% 17% 17% 17% 17% 17%;
}
.line {
  border-top: 5px solid black;
  width: 80%;
  margin-left: 130px;
  margin-top: 20px;
}
.first_ty {
  color: black;
  display: grid;
  grid-template-columns: 0.3fr 0.2fr 0.13fr 0.2fr 0.13fr 0.2fr;
}
.Projects {
  display: grid;
  grid-template-columns: auto;
}
.Buttons {
  margin-top: 42px;
  text-align: center;
}

.update {
  display: grid;
  grid-template-columns: 0.29fr 0.3fr;
}

#Button {
  background-color: #5d5c61;
}

#app {
  padding: 40px;
}

div.ReactTags__tags {
  position: relative;
  color: white;
  font-size: 20;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 150px;
  border-radius: 3px;
  display: inline-block;
  font-size: 16px;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField {
  height: 31px;
  margin: 0;
  font-size: 14px;
  width: 100%;
  border: 1px solid #557a95;
  padding: 0 4px;
  background-color: #557a95;
  color: white;
}

div.ReactTags__tagInput input.ReactTags__tagInputField::placeholder {
  color: white;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #557a95;
  background: #557a95;
  font-size: 16px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
  color: white;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  /* box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2); */
  background: #557a95;
  width: 200px;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #557a95;
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: #557a95;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #557a95;
  cursor: pointer;
  color: white;
}

.MuiDivider {
  font-weight: 900;
  margin: 100px;
}
