body {
  background-color: #ececec;
}

#textFontFamily {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  
}


#text_select{
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
  "Bitstream Vera Sans Mono", monospace;
font-style: normal;
font-variant: normal;
color:white;
font-size:13px;
}

#text_select::hover{
  color: black;
  background-color: #f1f3f5;
}
.label{
  background-color: #ececec;
}
h1 {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  color: #02203c;
}

h2 {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  color: #02203c;
}

h3 {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.4px;
  color: #02203c;
}
p {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.5714px;
}


h3 {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-size: 21px;

  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.5714px;
}

.App {
  text-align: center;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Header {
  text-align: center;
  /* height: 50%; */
}
.Search {
  color: white;
  margin-left: 20px;
  font-size: 9.5px;
}
#fields {
  background-color: white;
  size: 2px;
  height: 2px;
}

.Tags {
  display: grid;
}

#tab {
  width: 140px;
}
.type {
  display: grid;
}
.counrty {
  display: grid;
}
.select{
  width:300px;
  --rmsc-background: #02203c;
}
.select_role{
  width: 200px;
}

.multi-select {
  background-color: #02203c;
  color: "white"; 
  --rmsc-gray:white;
}

.go977458394.selected{
  color: black;
}

.go977458394 :hover{
  color: black;
}

.go4079732705 .gray{
  color:white;
}

.go4079732705, .gray span{
  color: white;
}

.dropdown-heading-value span{
  font-size: 13px;
  color: white;
  /* outline-color: white;
  color-adjust: white;
  text-decoration: white;
  text-decoration-color: white; */
}

.go2885254090 input{
  color: white;
}

.go1053659416 dropdown-heading{
  color: white;
}
.go3433208811 dropdown-container{
  color: white;
}
.go4079732705 select{
  color:white;
}
.MuiFormControl-root{
  color: white;
}
.dropdown-heading, .dropdown-heading-value{
  background-color: #02203c;
  color: "white";
}

.dropdown-content{
  background-color: #02203c;
  color: "white";
}

.select-panel{
  background-color: #02203c;
  color: "white";
}
.go2885254090 input{
  background-color: #02203c;
  color: "white";
}

.select_role css-2b097c-container{
  background-color: #02203c;
  color: "white";
}


.css-yk16xz-control{
  background-color: #02203c;
  color: "white";
}

.MuiDialogTitle-root {
  background-color:  #02203c;
 
}

.MuiTypography-h6{
  color: white;
  font-style: normal;
  font-variant: normal;
  text-align: center;
}
.input_row {
  color: black;
  margin-top: 35px;
  display: grid;
  grid-template-columns: 25% 30% 30% 25%;
  margin-left: 20px;
  font-size: 9.5px;
}
.fourth_row {
  color: black;
  margin-top: 35px;
  display: grid;
  grid-template-columns: auto 0.5fr auto;
  margin-left: 20px;
  font-size: 9.5px;
}

.alert_email {
  display: grid;
  grid-template-columns: 8% 35% 28% 25% 1%;
}
.res_score {
  display: grid;
  grid-template-columns: 17% 17%;
}
.countries_scores {
  color: black;
  display: grid;
  grid-template-columns: 17% 17% 17.5% 17% 17.5% 17%;
}
.line {
  border-top: 5px solid #02203c;
  width: 80%;
  margin-left: 130px;
  margin-top: 20px;
}
.first_ty {
  color: black;
  display: grid;
  grid-template-columns: 0.36fr 0.2fr 0.18fr 0.2fr 0.16fr 0.2fr;
}
.Projects {
  display: grid;
  grid-template-columns: auto;
}
.Buttons {
  margin-top: 42px;
  text-align: center;
}

.update {
  display: grid;
  grid-template-columns: 0.29fr 0.3fr;
}

#BackgroundColor {
  background-color: #02203c;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
}

#app {
  padding: 40px;
}

div.ReactTags__tags {
  position: relative;
  color: white;
  font-size: 20;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 240px;
  border-radius: 3px;
  display: inline-block;
  font-size: 16px;
  
}


div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField {
  height: 31px;
  margin: 0;
  font-size: 14px;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  width: 100%;
  border: 1px solid #02203c;
  padding: 0 4px;
  background-color: #02203c;
  color: white;
}

div.ReactTags__tagInput input.ReactTags__tagInputField::placeholder {
  color: white;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #02203c;
  background: #02203c;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-size: 16px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
  color: white;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  /* box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2); */
  background: #02203c;
  width: 200px;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #02203c;
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: #02203c;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #02203c;
  cursor: pointer;
  color: white;
}

.MuiDivider {
  font-weight: 900;
  margin: 100px;
}


.MuiTableSortLabel-root:hover{
  color:white;
}
.MuiButtonBase-root MuiTableSortLabel-root:hover{
  color:white;
}

.MuiTypography-caption{
  color: white;
}

#exitColor {
  background-color: red;
}

#italy,
#france,
#germany,
#denmark,
#switzerland,
#uk,
#ireland,
#norway,
#spain,
#portugal,
#czech,
#finland,
#austria,
#ukranie,
#turkey,
#israel,
#resScore,
#email,
#other,
#university,
#agency,
#start_up,
#RD,
#company {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  color: white;
}


