body {
  background-color: white;
}
.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Header {
  text-align: center;
  background-color: white;
  color: black;
  margin-top: 5px;
}
.Search {
  color: white;
  margin-left: 20px;
  font-size: 9.5px;
}
#company_name {
  background-color: white;
  size: 2px;
  height: 2px;
}

.SearchTab {
  display: grid;
}

#tab {
  width: 140px;
}
.type {
  display: grid;
}
.counrty {
  display: grid;
}
.first_row {
  color: black;
  display: grid;
  grid-template-columns: auto 0.5fr auto;
  margin-left: 20px;
  font-size: 9.5px;
}
.second_row {
  color: black;
  margin-top: 35px;
  display: grid;
  grid-template-columns: auto 0.42fr auto;
  margin-left: 20px;
  font-size: 9.5px;
}
.third_row {
  color: black;
  margin-top: 35px;
  display: grid;
  grid-template-columns: auto 0.5fr auto;
  margin-left: 20px;
  font-size: 9.5px;
}
.profit {
  display: grid;
  grid-template-columns: 10em 0.5em;
}
.Partners {
  display: grid;
  grid-template-columns: auto 2fr auto;
}
.SearchButton {
  margin-top: 42px;
  text-align: center;
}
#Search {
  width: 125px;
}
